
    <div class="container">
        <h2>Lista de Cliente</h2>
        <br />
        <input type="button" 
               title="Agregar Cliente"  
               value="Agregar Cliente"
               class="btn btn-primary"
               onclick="location.href='@Url.Action("GuardarUsuario", "Users")'" />
        <br />
        <hr />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id cliente</td>
                    <td>Nombre</td>
                    <td>Telefono</td>
                    <td>Direccion</td>
                    <td colspan="2">Opciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td><a asp-action="Edit" 
                               asp-route-id="@item.Id"
                               class="btn btn-warning">Editar</a></td>
                        <td><a asp-action="Delete" 
                               asp-route-id="@item.Id"
                               class="btn btn-danger">Eliminar</a></td>

                    </tr>
                }

            </tbody>

        </table>
    </div>